@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: ; */
  text-decoration: none;
  color: var(--theme-dark);
  font-family: "Poppins", "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.4px;
  word-spacing: 1px;
}

body {
  background-color: var(--theme-white);
  min-height: 100vh;
}

/* Variables */
:root {
  --theme-white: #fff;
  --theme-black: #000;
  --theme-green: #00abb3;
  --theme-green-light-deep: #0a99a1;
  --theme-green-deep: #008a91;
  --theme-grey-mid: #3c4048;
  --theme-grey: #5c5f65;
  --theme-dark: #181818;
  --theme-grey-bg: #f0f1f3;
  --theme-text-grey: #707070;
  --theme-light-blue: #2192ff;
  --theme-border-grey: #d0d7de;
  /* --card-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  --card-shadow: rgba(0, 0, 0, 0.01) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.04) 0px 0px 0px 1px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: var(--theme-text-grey);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-grey);
}

.opacity-1 {
  opacity: 1;
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

hr {
  border: none;
  border-bottom: 1px solid var(--theme-border-grey);
  margin: 5px 0;
}

li {
  list-style: none;
}

.inline {
  display: inline;
}

/* li span {margin} */

.lh-30 {
  line-height: 30px;
}
.lh-25 {
  line-height: 25px;
}
.lh-20 {
  line-height: 20px;
}

.pos-rel {
  position: relative;
}

/* Debuggers */
.red {
  background: red;
}
.blue {
  background: blue;
}

.vh-10 {
  height: 10vh;
}
.vh-90 {
  height: 90vh;
}
.vh-100 {
  height: 100vh;
}

.t-pad-vh-10 {
  padding-top: 10vh;
}

.lr-pad-10 {
  padding-left: 10px;
  padding-right: 20px;
}
.lr-pad-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.lr-pad-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.lr-pad-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.l-pad-10 {
  padding-left: 10px;
}
.l-pad-20 {
  padding-left: 20px;
}

.r-pad-10 {
  padding-right: 10px;
}
.r-pad-15 {
  padding-right: 15px;
}
.r-pad-20 {
  padding-right: 20px;
}

.tb-pad-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.tb-pad-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.tb-pad-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tb-pad-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.tb-pad-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.tb-pad-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.t-pad-1 {
  padding-top: 1px;
}
.t-pad-2 {
  padding-top: 2px;
}
.t-pad-3 {
  padding-top: 3px;
}
.t-pad-4 {
  padding-top: 4px;
}
.t-pad-5 {
  padding-top: 5px;
}
.t-pad-10 {
  padding-top: 10px;
}
.t-pad-15 {
  padding-top: 15px;
}
.t-pad-20 {
  padding-top: 20px;
}
.t-pad-25 {
  padding-top: 25px;
}
.t-pad-30 {
  padding-top: 30px;
}
.t-pad-35 {
  padding-top: 35px;
}
.t-pad-50 {
  padding-top: 50px;
}
.t-pad-75 {
  padding-top: 75px;
}
.t-pad-100 {
  padding-top: 100px;
}
.t-pad-120 {
  padding-top: 120px;
}
.t-pad-125 {
  padding-top: 125px;
}
.t-pad-200 {
  padding-top: 200px;
}
.t-pad-220 {
  padding-top: 220px;
}
.t-pad-230 {
  padding-top: 230px;
}
.t-pad-240 {
  padding-top: 240px;
}
.t-pad-250 {
  padding-top: 250px;
}

.b-pad-5 {
  padding-bottom: 5px;
}
.b-pad-10 {
  padding-bottom: 10px;
}
.b-pad-20 {
  padding-bottom: 20px;
}
.b-pad-40 {
  padding-bottom: 40px;
}
.b-pad-50 {
  padding-bottom: 50px;
}

.t-mar-5 {
  margin-top: 5px;
}
.t-mar-10 {
  margin-top: 10px;
}
.t-mar-15 {
  margin-top: 15px;
}
.t-mar-20 {
  margin-top: 20px;
}
.t-mar-25 {
  margin-top: 25px;
}
.t-mar-50 {
  margin-top: 50px;
}
.b-mar-3 {
  margin-bottom: 3px;
}
.b-mar-5 {
  margin-bottom: 5px;
}
.b-mar-7 {
  margin-bottom: 7px;
}
.b-mar-25 {
  margin-bottom: 25px;
}
.b-mar-50 {
  margin-bottom: 50px;
}

.l-mar-3 {
  margin-left: 3px;
}
.l-mar-5 {
  margin-left: 5px;
}
.l-mar-10 {
  margin-left: 10px;
}
.l-mar-20 {
  margin-left: 20px;
}
.l-mar-40 {
  margin-left: 40px;
}
.r-mar-10 {
  margin-right: 10px;
}
.r-mar-20 {
  margin-right: 20px;
}

.max-w-1000 {
  max-width: 1000px;
}
.min-w-1000 {
  min-width: 1000px;
}

/* FONT SIZE */
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
.fs-30 {
  font-size: 30px;
}
.fs-35 {
  font-size: 35px;
}
.fs-40 {
  font-size: 40px;
}
.fs-45 {
  font-size: 45px;
}
.fs-50 {
  font-size: 50px;
}

/* FONT WEIGHT */
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

.search-box input {
  border: 4px solid var(--theme-dark);
  /* border-color: var(--theme-dark); */
  height: 40px;
  width: 40px;
  background: none;
  border-radius: 50%;
}

.search-box img {
  width: 20px;
  fill: var(--theme-dark);
  cursor: pointer;
}

.info-item {
  display: flex;
  align-items: center;
}

.svg-s {
  width: 20px;
  fill: var(--theme-dark);
  cursor: pointer;
}

.svg-10 {
  width: 10px;
  fill: var(--theme-grey-mid);
}

.svg-15 {
  width: 15px;
  fill: red;
}
.svg-dropdown {
  fill: var(--theme-grey-mid);
}

/* MAIN */

header {
  position: fixed;
  border-top: 5px solid var(--theme-green);
  width: 100%;
  z-index: 1;
}

.wrapper {
  padding: 10px 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: var(--theme-white);
}
.wrapper-rl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  /* padding: 10px 0; */
  padding: 10px 1.3rem;
}

.right {
  display: none;
}

.logo-text h1 {
  font-size: 1.5rem;
}

.home-body {
  padding: 1.3rem;
  padding-top: 120px;
}

main {
  min-height: 100vh;
}
.content-wrapper {
  margin: auto;
}

.main-text p {
  font-size: 20px;
  line-height: 1.8;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 450px;
  grid-gap: 20px;
}

.grid-wrapper-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(2, 319px); */
  grid-auto-rows: 450px;
  grid-gap: 20px;
}

.blog-card {
  height: 100%;
  width: 100%;
  background-color: var(--theme-white);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: var(--card-shadow), rgba(1, 171, 179, 1) 0px -8px 0px inset;
}

.blog-card-mb {
  height: 100%;
  width: 100%;
  background-color: var(--theme-white);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.blog-card:hover,
.blog-card-mb:hover {
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  box-shadow: rgba(14, 14, 14, 0.09) 0px 3px 5px;
}

.blog-card:active,
.blog-card-mb:active {
  box-shadow: rgba(1, 171, 179, 0.2) 2px 3px 5px;
}

.blog-img {
  background-color: var(--theme-green);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-img img,
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rl-image {
  display: flex;
  justify-content: center;
}

.rl-image img {
  width: 80%;
  height: 100%;
}

.blog-text {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.blog-text h3 {
  line-height: 1.2;
}

.blog-cat {
  color: var(--theme-green);
  padding: 20px 0 5px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* FOOTER */

.footer-desktop {
  display: none;
}
.footer-mobile {
  display: block;
  height: 65px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-m-wrapper {
  padding: 1.3rem 2rem;
  background-color: var(--theme-white);
  box-shadow: rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px;
}

.footer-m-content {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
}

.navbar-svg svg {
  height: 20px;
  fill: rgba(0, 0, 0, .7);
}

.navbar-svg-selected svg {
  height: 20px;
  fill: var(--theme-green);
}

.footer-wrapper {
  background-color: var(--theme-green);
}

.owner-container {
  margin: auto;
  display: flex;
  justify-content: center;
}

.who {
  color: var(--theme-white);
  /* display: inline; */
}

/* PAGE 2 */

.title-container h1 {
  font-size: 2.5rem;
  text-align: center;
}

.blog-owner {
  display: flex;
  align-items: center;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-img-big {
  width: 100%;
  height: 550px;
  border-top-right-radius: 100px;
  overflow: hidden;
}

.cb-thumbnail {
  width: 100%;
  height: 550px;
  border-top-right-radius: 100px;
  overflow: hidden;
}

.blog-img-big img,
.slide-img,
.cb-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.round-pp-img {
  background: var(--theme-green);
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.round-img-200 {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  /* background: var(--theme-green); */
  border-radius: 50%;
  overflow: hidden;
  box-shadow: var(--card-shadow);
}

.round-img-20,
.round-img-25,
.round-img-30,
.round-img-35,
.round-img-40,
.round-img-50 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--theme-green-deep);
  display: flex;
  justify-content: center;
  align-items: center;
}
.round-img-35 {
  width: 35px;
  height: 35px;
}
.round-img-30 {
  width: 30px;
  height: 30px;
}
.round-img-25 {
  width: 25px;
  height: 25px;
}
.round-img-20 {
  width: 20px;
  height: 20px;
}
.round-img-50 {
  width: 50px;
  height: 50px;
}

.round-img-40:hover,
.round-img-35:hover {
  background-color: var(--theme-green);
}

.round-img-s {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.round-img-45 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.ns-blog img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.round-img-xs img,
.round-img-s img,
.round-img-l img,
.round-img-200 img,
.round-img-50 img,
.round-img-40 img,
.round-img-45 img,
.round-img-35 img,
.round-img-30 img,
.round-img-25 img,
.round-img-20 img,
.round-pp-img img {
  width: auto;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.body-section {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  column-gap: 50px;
}

.user-card,
.info-card {
  background-color: var(--theme-white);
  padding: 25px 20px;
  border-radius: 20px;
  box-shadow: var(--card-shadow);
}

.info-card {
  border-radius: 10px;
  padding: 15px;
}

.user-card-top {
  display: flex;
  align-items: center;
}

.user-card-body p,
em {
  color: var(--theme-grey);
  line-height: 20px;
  letter-spacing: 0.2;
}

.user-card-footer {
  display: flex;
  justify-content: flex-end;
}

/* PROFILE */

.profile-grid {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  column-gap: 25px;
}

.profile-img-container {
  position: relative;
  top: -60px;
  z-index: 0;
  /* background-color: ; */
}

.pp-bg {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-white);
  border-radius: 50%;
}

.slide-img {
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}

.pm-top-1 {
  background-color: var(--theme-white);
  border-radius: 20px;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: var(--card-shadow);
}

.pm-bottom {
  display: flex;
  padding: 10px 20px 15px;
}

.pm-intro-container {
  width: 100%;
}

.pm-intro-container p {
  line-height: initial;
  color: var(--theme-grey);
}

.card-title h3,
.info-card h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.summary {
  color: var(--theme-grey);
  margin: 20px 0 10px;
  /* line-height: 1.5; */
}

.tc-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px;
  max-width: 310px;
  overflow: hidden;
}

.tc-grid-upgrade a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px;
}

.btn {
  background-color: var(--theme-green);
  color: var(--theme-white);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-square,
.btn-square-loading {
  background-color: var(--theme-green);
  color: var(--theme-white);
  /* padding: 10px 20px; */
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-round,
.btn-round-off {
  background-color: var(--theme-green);
  color: var(--theme-white);
  padding: 7px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.btn-round-off {
  background-color: initial;
  color: var(--theme-dark);
}

.sc-container {
  display: flex;
  justify-content: flex-end;
  /* background-color: #000; */
  padding: 15px 0 0;
}

.btn-square-loading {
  background-color: var(--theme-green-deep);
}

.btn:hover {
  box-shadow: rgba(1, 171, 179, 0.4) 0px 3px 3px;
}
.btn:active {
  box-shadow: rgba(1, 171, 179, 0.8) 0px 3px 3px;
}
.btn-round-off:hover {
  background-color: var(--theme-grey-bg);
}
.btn-round:hover {
  background-color: var(--theme-green-deep);
}
.btn-square:hover {
  box-shadow: rgba(1, 171, 179, 0.4) 0px 3px 3px;
}
.btn-square:active {
  box-shadow: rgba(1, 171, 179, 0.8) 0px 3px 3px;
}

/* REGISTRATION & LOGIN */
.rl-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.rl-container {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background: var(--theme-white);
  border-radius: 20px;
  box-shadow: var(--card-shadow);
  overflow: hidden;
}

.rl-container-2 {
  width: 100%;
  margin: 0 auto;
  background: var(--theme-white);
  border-radius: 20px;
  box-shadow: var(--card-shadow);
  overflow: hidden;
}

.rl-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: inherit;
}

.left-rl {
  display: flex;
  align-items: center;
  background-color: var(--theme-green);
}

/* .right-username {
  font-weight: 400;
  font-size: 21px;
}

.right-username:hover,
.cb-replies:hover,
.underline:hover {
  text-decoration: underline;
} */

.right-item {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.right-item svg {
  width: 25px;
  fill: var(--theme-grey-mid);
}

.right-item {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.right-item-bottom {
  display: flex;
  justify-content: center;
}
.right-item-bottom svg {
  width: 10px;
}

.rn-svg-center {
  /* background-color: red; */
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.img-text,
.img-t-14 {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
}

.img-text {
  font-size: 20px;
}

.img-t-14 {
  font-size: 14px;
}

.form-container {
  /* background-color: red; */
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-intro p {
  color: var(--theme-text-grey);
}

.rl-fields label,
.rl-fields input {
  display: block;
  width: 100%;
}

.important::after {
  content: "*";
  color: red;
}

.rl-fields label {
  padding: 15px 0 5px;
  font-size: 14px;
  color: var(--theme-text-grey);
}

.grid-input-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.traditional-input input {
  border: 0px;
  background-color: var(--theme-grey-bg);
  padding: 10px 10px;
  box-sizing: border-box;
  border-bottom: 3px solid #00abb3;
  border-radius: 3px;
  outline: none;
  font-size: 15px;
}

.traditional-input-2 input {
  border: 0px;
  background-color: var(--theme-grey-bg);
  padding: 10px 10px;
  box-sizing: border-box;
  border-bottom: 3px solid #00abb3;
  border-radius: 3px;
  outline: none;
  font-size: 15px;
}

.traditional-input input:focus {
  background-color: #dadcde;
}

.traditional-input-2 input:focus {
  background-color: var(--theme-white);
}

form p a {
  color: var(--theme-green);
  text-decoration: underline;
}
form p a:hover {
  color: var(--theme-green-deep);
}

/* Pop Ups */
.pop-up-info {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  z-index: 2;
}

.pp-card {
  background-color: var(--theme-white);
  box-shadow: var(--card-shadow);
  width: 350px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 30px;
  text-align: center;
}

.pp-card:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.pp-card:active {
  background-color: #fafafa;
  box-shadow: none;
}

.pp-card p {
  padding: 20px 20px;
}

.user-options-wrapper {
  /* background-color: #5c5f65; */
  position: absolute;
}

.up-card,
.noti-card {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: var(--theme-white);
  /* max-width: 200px; */
  min-width: 270px;
  border-radius: 10px;
  box-shadow: var(--card-shadow);
}



.noti-card {
  min-width: 380px;
  height: 500px;
  overflow: hidden;
}

.noti-body {
  /* background-color: red; */
  height: 90%;
  overflow-y: scroll;
}

.noti-item {
  padding: 10px 15px;
}

.up-card a {
  display: block;
}

.up-card p {
  padding: 10px 20px;
}

.up-card p:hover {
  background-color: var(--theme-green);
  color: var(--theme-white);
}

.up-card p:active {
  background-color: var(--theme-green-deep);
}

.up-profile {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.up-profile h3 {
  font-size: 20px;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

/* .follow-container {
  padding: 10px 0 10px 140px;
} */

.btn-square-fff {
  background-color: blue;
  padding: 20px;
  margin: 20px;
}

.dot {
  padding: 4px;
  margin: 0px 7px 0;
  border-radius: 50%;
  background-color: var(--theme-grey);
}

.flex-a-center {
  display: flex;
  align-items: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.w-100 {
  width: 100%;
  height: 100%;
}

.btn-f,
.btn-f-clicked,
.btn-f-s,
.btn-f-s-clicked {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 30px;
  width: 95px;
  border-radius: 5px;
  border: 1px solid var(--theme-border-grey);
  background-color: var(--theme-green);
  cursor: pointer;
}

.btn-f-s,
.btn-f-s-clicked {
  height: 27px;
  width: 90px;
  font-size: 15px;
  font-weight: 600;
}

.btn-f-clicked,
.btn-f-s-clicked {
  color: var(--theme-dark);
  background-color: var(--theme-white);
  border: 1px solid #d0d7de;
  /* box-shadow: var(--card-shadow); */
}

.btn-f:hover,
..btn-f-s:hover {
  background-color: var(--theme-green-light-deep);
}
.btn-f:active,
.btn-f-s:active {
  background-color: var(--theme-green);
}
.btn-f-clicked:hover,
.btn-f-s-clicked:hover {
  background-color: #f9f9f9;
}
.btn-f-clicked:active,
.btn-f-s-clicked:active {
  background-color: var(--theme-white);
}

.pm-bottom-l2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-edit-profile:hover {
  text-decoration: underline;
}

.edit-profile-grid {
  display: grid;
  grid-template-columns: 1fr 2.2fr;
}

.ep {
  padding: 10px 20px;
}

.ep-contianer-2 {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.ep-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bio-textarea {
  width: 100%;
  height: 80px;
  padding: 10px 10px;
  box-sizing: border-box;
  background-color: var(--theme-grey-bg);
  border: none;
  border-radius: 3px;
  border-bottom: 3px solid var(--theme-green);
  outline: none;
  font-size: 15px;
  resize: none;
}

.bio-textarea:focus {
  background-color: #dadcde;
}

.ep-img-container {
}

.ep-contianer-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CREATE BLOG */
.create-blog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cb-title {
  width: 80%;
}

.cb-thumbnail {
  background-color: var(--theme-green);
  background-position: center;
  background-size: cover;
}

.cb-title input {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.cb-content {
  width: 100%;
}

.cb-content textarea {
  width: 100%;
  padding: 10px 10px;
  min-height: 300px;
  box-sizing: border-box;
  background-color: var(--theme-grey-bg);
  border: none;
  border-radius: 3px;
  border-bottom: 3px solid var(--theme-green);
  outline: none;
  font-size: 16px;
  resize: none;
  overflow-y: hidden;
}

.cb-content textarea:focus {
  background-color: var(--theme-white);
}

.rc textarea {
  width: 100%;
  min-height: initial;
  height: 43px;
}

.rc input {
  width: 100%;
}

.white-space {
  white-space: pre-wrap;
}

/* MANAGE BLOGS */
.cud,
.ct-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ud {
  display: flex;
}

.ud svg {
  width: 15px;
  fill: var(--theme-grey);
}

.ud svg:hover {
  fill: var(--theme-green);
}
.ud svg:active {
  fill: var(--theme-green-deep);
}

.svg-green svg {
  fill: var(--theme-green);
}

.ud small {
  font-size: 15px;
  margin-left: 10px;
}

.no-click {
  pointer-events: none;
}

.mb-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--theme-white);
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: var(--card-shadow);
}

.mb-container h3 {
  font-size: 30px;
}
.mb-container p {
  color: var(--theme-grey);
}

/* COMMENT SECTION */
.comment-container {
  background-color: var(--theme-white);
  border-radius: 10px;
  box-shadow: var(--card-shadow);
}

.cb-grid {
  display: grid;
  grid-template-columns: 1fr 14fr;
}

.cb-username {
  font-weight: 600;
}

.cb-replies {
  font-weight: 400;
  color: var(--theme-light-blue);
}

.cb-3 {
  display: flex;
  align-items: center;
  /* background-color: #008a91; */
  /* width: 100px; */
  /* justify-content: space-between; */
}

#comment {
  background-color: none;
}
/* Category */

.cb-category {
  width: 80%;
}

.cb-category input {
  width: 100%;
}

.cb-content-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cb-content-flex span {
  padding: 15px 0 5px;
  font-size: 14px;
  color: var(--theme-text-grey);
}
.btn-square-disabled {
  background-color: var(--theme-grey-bg);
  color: var(--theme-black);
}

/* Center Pop Up */
.f-container {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.f-box,
.edit-box,
.crop-box,
.crop-box-cover {
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid var(--theme-border-grey);
  overflow: hidden;
}

.edit-box {
  /* height: 600px; */
  width: 700px;
}

.ebs {
  display: flex;
  flex-wrap: wrap;
}

.ebs span {
  background-color: var(--theme-green-deep);
  display: flex;
  align-items: center;
  color: var(--theme-grey-bg);
  padding: 7px 10px 8px;
  margin: 10px 10px 0 0;
  border-radius: 20px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.ebs span:hover {
  background-color: var(--theme-green);
}

.eb-title {
  /* background-color: #d0d7de; */
  padding: 15px 20px;
  border-bottom: 1px solid var(--theme-border-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eb-body {
  padding: 0 20px 15px;
  height: 310px;
  overflow-y: scroll;
}

.eb-1 {
  min-height: 260px;
}

.eb-skills {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.f-title {
  /* background-color: red; */
  position: relative;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--theme-border-grey);
}

.noti-title {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--theme-border-grey);
  padding: 0 15px;
  box-sizing: border-box;
}

.noti-right {
  width: 25px;
  /* display: flex;
  justify-content: center; */
}

.noti-back {
  width: 20px;
  cursor: pointer;
}

.f-title h3,
.noti-title h3 {
  font-size: 20px;
}

.ns-title h3 {
  font-size: 18px;
}

.ns-item {
  display: flex;
  align-items: center;
  padding-top: 15px;
  cursor: pointer;
}

.ns-text {
  /* background-color: red; */
  margin: 0 10px;
}
.ns-text p,
.ns-text b {
  font-size: 16px;
}

.ns-text a {
  display: inline;
}

.ns-img {
  min-width: 40px;
}

.f-cancel {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0;
  width: 40px;
  cursor: pointer;
}

.ic-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-skills svg {
  width: 15px;
  fill: var(--theme-grey);
  cursor: pointer;
}

.remove-skill {
  display: flex;
  cursor: pointer;
  transform: rotateZ(45deg);
}

.remove-skill svg:hover {
}

.remove-skill svg {
  width: 15px;
  fill: var(--theme-white);
  margin-left: 5px;
  margin-bottom: 5px;
}

.up-cancel {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.up-cancel svg {
  width: 40px;
}

.f-cancel svg,
.up-cancel svg {
  fill: var(--theme-dark);
  width: 15px;
}
.f-cancel svg:hover,
.up-cancel svg:hover {
  fill: var(--theme-black);
  width: 15px;
}

.f-body-container {
  padding: 0 15px;
  height: 350px;
  overflow-y: scroll;
}

.fb-item {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}

.fb-follow,
.ns-blog {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.bold {
  font-weight: 600;
}

.fb-username {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fb-username h3 {
  font-size: 18px;
}
.fb-username p {
  font-size: 14px;
  color: var(--theme-grey);
}

.pc-bg,
.pc-bg-transparent {
  background-color: #000;
  opacity: 0.5;
  height: 100vh;
  animation: pc-bg 0.1s ease-in;
}

.pc-bg-out {
  /* background-color: red; */
  position: fixed;
  height: 100%;
  width: 100%;
}

@keyframes pc-bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.pc-bg-2 {
  display: flex;
  height: 100%;
  width: 100%;
}

.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}

.pc-box {
  position: fixed;
  background-color: var(--theme-white);
  /* height: 60px; */
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pc-box p,
.pc-box span {
  font-size: 18px;
  text-align: center;
}

.pc-box span {
  cursor: pointer;
  color: var(--theme-grey);
  font-weight: 600;
  box-sizing: border-box;
}

.pc-box span:hover {
  color: var(--theme-green);
}

.pc-wrapper,
.pc-box-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.pc-wrapper-2 {
  position: relative;
}

.pc-box-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pc-options {
  /* background-color: gray; */
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.reply-comment-container {
  background-color: var(--theme-grey-bg);
  padding: 10px 15px;
  margin: 0 0 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

/* SPINNER */
.spinner-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
}

.comment-loader {
  padding: 45.7px 0;
}

.spinner-container-fit {
  height: 100%;
  display: flex;
}

/* Notification Dot */
.ndw {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-grey-bg);
  position: absolute;
  top: 3px;
  right: -3px;
}

.noti-dot {
  height: 70%;
  width: 70%;
  background-color: red;
  border-radius: 50%;
}

.skill-items {
  display: flex;
  flex-wrap: wrap;
}

.skill-items span {
  background-color: var(--theme-grey-bg);
  color: var(--theme-text-grey);
  padding: 5px 10px;
  border-radius: 50px;
  margin: 10px 10px 0 0;
}

.info-items span {
  color: var(--theme-text-grey);
}

.info-items span:hover {
  color: var(--theme-grey-mid);
}

.info-items svg {
  fill: var(--theme-grey-mid);
}

/* Cropper Image Styles */

.cp-container,
.cp-container-cover {
  position: relative;
  min-height: 300px;
  width: 100%;
  margin: 0 auto;
  background: #000;
}

.cp-container-cover {
  min-height: 500px;
}

.crop-box {
  position: fixed;
  width: 700px;
  height: 475px;
}
.crop-box-cover {
  position: fixed;
  width: 1040px;
  height: 680px;
}

.cp-wrapper {
  padding: 20px 30px;
}

.slider {
  /* -webkit-appearance: none; */
  /* appearance: none; */
  width: 100%;
  height: 5px;
  outline: none;
  background-color: #c6c6c6;
  border: none;
  border-radius: 50px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid black;
}

/* Tables and Ipads */
@media only screen and (min-width: 481px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 450px;
    grid-gap: 20px;
  }

  .footer-m-content {
    max-width: 400px;
  }

}

/* Small Screens, laptops */
@media only screen and (min-width: 769px) {
  body {
    background-color: var(--theme-grey-bg);
    min-height: 100vh;
  }

  header {
    position: fixed;
    border-top: 10px solid var(--theme-green);
    width: 100%;
    z-index: 1;
  }

  .logo-text h1 {
    font-size: 2rem;
  }

  .home-body {
    padding-top: 220px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .wrapper-rl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
  }

  /* MAIN */
  .content-wrapper {
    margin: auto;
    max-width: 800px;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 450px;
    grid-gap: 20px;
  }

  .grid-wrapper-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(2, 319px); */
    grid-auto-rows: 450px;
    grid-gap: 20px;
  }

  /* FOOTER */
  .footer-desktop {
    display: block;
  }
  .footer-mobile {
    display: none;
  }

  .footer-wrapper {
    background-color: var(--theme-green);
  }

  .owner-container {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .left-rl {
    display: flex;
    align-items: center;
    background-color: var(--theme-green);
  }

  .right,
  .right a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right {
    position: relative;
    height: 58px;
  }

  .right-item {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .right-item svg {
    width: 25px;
    fill: var(--theme-grey-mid);
  }

  .right-item {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .right-item-bottom {
    display: flex;
    justify-content: center;
  }
  .right-item-bottom svg {
    width: 10px;
  }

  .rn-svg-center {
    /* background-color: red; */
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-svg svg {
    width: 30px;
  }

  .up-card a {
    display: block;
  }
}

/* Large Screens, Desktops */
@media only screen and (min-width: 1025px) {
  .wrapper {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    max-width: 1000px;
    /* margin: 0 auto; */
    /* box-shadow: none;
    background-color: rgba(0, 0, 0, 0); */
  }

  .content-wrapper {
    margin: auto;
    max-width: 1000px;
  }
}

/* Extra Large Screens, TV */
@media only screen and (min-width: 1201px) {
}
